# Spark output directories
*.parquet/
_SUCCESS
*.crc

# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/

# IDE files (e.g., VS Code)
.vscode/

# Jupyter/Colab checkpoints
.ipynb_checkpoints